<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID"
	version="3.0">

	<servlet>
		<servlet-name>StaticResourceServlet</servlet-name>
		<servlet-class>com.flk.servlets.UIServlet</servlet-class>
		<init-param>
			<param-name>distFolder</param-name>
			<param-value>/dist</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaticResourceServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>CSPFilter</filter-name>
		<filter-class>com.flk.servlets.CSPFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CSPFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>XCSRFTokenFilter</filter-name>
		<filter-class>com.flk.servlets.XCSRFTokenFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>XCSRFTokenFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- <filter> <filter-name>CorsFilter</filter-name> <filter-class>com.flk.servlets.CORSFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>CorsFilter</filter-name> <url-pattern>/*</url-pattern> 
		</filter-mapping> -->
</web-app>
